{{ define "main" }}
    <link rel="stylesheet" href="/assets/css/fork-awesome/css/fork-awesome.css">
    <div class="center">
        <div class="content">
            <img class="logo-big" src="/assets/images/logo_full.svg" alt="IP's logo">
            <p class="socials">
                <a rel="noopener" href="https://www.youtube.com/channel/UCmtyukqkSLBNMyvF2JBO0JQ" target="_blank" title="YouTube"><span class="fa fa-youtube-play fa-3x"></span></a>
                <a rel="noopener" href="https://t.me/dsrev" target="_blank" title="Telegram"><span class="fa fa-telegram fa-3x"></span></a>
                <a rel="me noopener" href="https://mstdn.social/@dsrev" target="_blank" title="Mastodon"><span class="fa fa-mastodon fa-3x"></span></a>
                <a rel="noopener" href="https://pixelfed.social/dsrev" target="_blank" title="Pixelfed"><span class="fa fa-pixelfed fa-3x"></span></a>
                <a rel="noopener" href="https://soundcloud.com/ilyaprokopenko" target="_blank" title="SoundCloud"><span class="fa fa-soundcloud fa-3x"></span></a>
                <a rel="noopener" href="https://github.com/dsrev" target="_blank" title="GitHub"><span class="fa fa-github fa-3x"></span></a>
                <a rel="noopener" href="https://codeberg.org/dsrev" target="_blank" title="Codeberg"><span class="fa fa-codeberg fa-3x"></span></a>
            </p>
            <p><a rel="noopener" href="https://github.com/dsrev/dsrev.me" target="_blank">Source code</a> / <a href="/posts">Blog</a> / <a href="#" class="toggle-dark-mode">Dark/light mode</a></p>
        </div>
    </div>
    <script src="/assets/js/darkmode.js"></script>
{{ end }}